In [217]:
'''
Given a two numbers, check if they are equals
'''
number1 = 20
number2 = 30
print(number1 == number2)

l = [i for i in x <100 ]
print(l)

False

TypeError: 'bool' object is not iterable

In [159]:
'''
Given a two numbers return their product
'''

number1 = 20
number2 = 30
print(number1*number2)

600

In [201]:
'''
And if the product is greater than 1000, then return their sum
'''

number1 = 200
number2 = 30

if number1 * number2 > 1000:
    print(number1 + number2)
else:
    print(number1*number2)

230

In [194]:
'''
Depending on whether the number is even or odd, print out an appropriate message: use "if"
'''

my_number = 11

def is_odd(number):
    if number % 2 == 0:
        return "the number is even"
    else: 
        return "the number is odd"
        
is_odd(my_number)

'the number is odd'

In [205]:

for a in range(1,20):
    print(is_odd(a))

the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd

In [158]:
'''
Print multiplication table of given number: use "for" loop
'''

my_number = 3

for a in range(1,11):
    print("The result of multiplication of %s x %s is %s " %(my_number,a,my_number*a))

The result of multiplication of 3 x 1 is 3
The result of multiplication of 3 x 2 is 6
The result of multiplication of 3 x 3 is 9
The result of multiplication of 3 x 4 is 12
The result of multiplication of 3 x 5 is 15
The result of multiplication of 3 x 6 is 18
The result of multiplication of 3 x 7 is 21
The result of multiplication of 3 x 8 is 24
The result of multiplication of 3 x 9 is 27
The result of multiplication of 3 x 10 is 30

In [104]:
'''
Given a list of numbers, return True if first and last number of a list is same
'''

my_list = [1, 2, 4, 1]

print(my_list[0] == my_list[3])

True

In [112]:
'''
Given a list turn every item of a list into its square
'''

my_list = [1, 2, 4, 1]
for i in my_list:
    print(i*i,end=" ")

1 4 16 1

In [127]:
'''
Given a list iterate it and display numbers which are divisible by 5 
'''

my_list = [1, 15, 4, 20, 22, 100, 10000, 5, 10]

for a  in my_list:
    if a % 5 == 0:
        print(a, end=" ")

15 20 100 10000 5 10

In [125]:
'''
change the loop so that if you find number greater than 150 stop the loop iteration
'''

my_list = [1, 15, 4, 20, 22, 100, 10000, 5, 10]
for a in my_list:
    if a<150:
        print(a, end=" ")

1 15 4 20 22 100 5 10

In [193]:
'''
Return the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5'''

#using string multiplicator
for x in range(1,10): 
    print(f"{x} "*x)

print(" ")

#using repdigits formula

for y in range(1,10):
    print(y * (10 ** y - 1) // 9) 

#using nested loop

max_range = 9
min_range = 1

while min_range <= max_range:
    #declare un acumulator
    J = 1
    while J <= min_range:

            print(min_range, end=" ")
            J += 1
    print(" ")
    min_range += 1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

1
22
333
4444
55555
666666
7777777
88888888
999999999
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [142]:
'''
Given a list, return its elements in reverse order
'''

my_list = [1, 2, 4, 1]
my_list.reverse()
print(my_list)

new_list= []
for a in my_list:
    new_list += str(a)
    
print(new_list)

[1, 4, 2, 1]
['1', '4', '2', '1']

In [34]:
'''
Given 2 strings create a new string by appending s2 at the end of s1
'''

my_str1 = 'hello'
my_str2 = 'world'
print(my_str1 + my_str2)

helloworld

In [ ]:
'''
And add '.' between them
'''

my_str1 = 'hello'
my_str2 = 'world'

print(my_str)

In [107]:
'''
Remove empty strings from the list of strings
'''

my_list = ['hello', '', 'world', 'hello', 'good', 'morning']
my_list.remove("")
print(my_list)
print(" ")
print(" ".join(my_list))

['hello', 'world', 'hello', 'good', 'morning']

hello world hello good morning

In [109]:
'''
Return the total count of the word 'hello' in the list
'''

my_list = ['hello', '', 'world', 'hello', 'good', '', 'morning']
a = my_list.count("hello")
print(a)
print(" ".join(my_list))

2
hello  world hello good  morning